Makefile
Makefile.in
aclocal.m4
autom4te.cache
ChangeLog
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
ohm.conf
ohm.pc
libtool
ltmain.sh
stamp-h1
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
mkinstalldirs
depcomp
install-sh
missing
INSTALL
*.o
*.tar.gz
*~
