Source: ohm
Section: utils
Priority: optional
Maintainer: Krisztian Litkey <krisztian.litkey@nokia.com>
Standards-Version: 3.7.2
Build-Depends: cdbs, debhelper (>= 4.1.0), flex, libhal-dev, gettext

Package: ohm
Architecture: any
Depends: ${shlibs:Depends}, ohm-plugin-core0
Description: Open Hardware Manager with Nokia policy add-ons.
 Open Hardware Manager Nokia add-ons.
 .
 Open Hardware Manager with Nokia add-ons.

Package: ohm-plugin-core0
Architecture: any
Depends: ${shlibs:Depends}
Section: utils
Description: Common OHM libraries.
 .
 This package contains libraries needed by both for running OHM and
 developing OHM plugins.

Package: ohm-dev
Architecture: any
Depends: ohm-plugin-core0
Section: libdevel
Description: Files necessary for OHM plugin development.
 .
 This package contains header files, libraries, pkg-config files, etc.
 necessary for developing OHM plugins.

Package: ohm-plugins-legacy
Architecture: any
Depends: ${shlibs:Depends}
Section: utils
Description: Legacy Open Hardware Manager plugins.
 .
 Legacy plugins from the basic OHM distribution.

Package: ohm-utils
Architecture: any
Section: utils
Description: Miscallaneous OHM utilities.
 .
 This package contains miscallaneous OHM utilities that are either not
 very useful or otherwise not necessary for everyday OHM usage.

