#!/usr/bin/make -f
SHELL+= -e

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_TAR_SRCDIR = ${DEB_SOURCE_PACKAGE}-${DEB_UPSTREAM_VERSION}

DEB_CONFIGURE_USER_FLAGS = --disable-static --without-xauth --without-dpms --disable-nls
DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DEB_UPDATE_RCD_PARAMS = "start 59 2 3 4 5 . stop 18 0 1 6 ."

# Omit *.la files but warn about other missing things.
binary-post-install/ohm::
	rm -f debian/tmp/usr/lib/*.la
common-binary-post-install-arch:: list-missing

post-patches:: debian/stamp-autogen

debian/stamp-autogen:
	cd $(DEB_BUILDDIR) && ./autogen.sh
	touch $@

clean::
	-rm -rf debian/stamp-autogen

# do not include docs and changelogs in these packages
DEB_INSTALL_DOCS_ohm-dev := --no-act
DEB_INSTALL_CHANGELOGS_ohm-dev := --no-act
DEB_INSTALL_DOCS_ohm-plugins := --no-act
DEB_INSTALL_CHANGELOGS_ohm-plugins := --no-act
DEB_INSTALL_DOCS_ohm-utils := --no-act
DEB_INSTALL_CHANGELOGS_ohm-utils := --no-act


