[Unit]
Description=ohm daemon for resource policy management
After=boardname.service

[Service]
Type=dbus
BusName=org.freedesktop.ohm
ExecStart=/usr/sbin/ohmd --no-daemon
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=basic.target
