[Unit]
Description=ohm daemon for resource policy management
DefaultDependencies=no
Requires=dbus.socket
After=boardname.service local-fs.target systemd-udev-settle.service
Conflicts=shutdown.target

[Service]
Type=dbus
BusName=org.freedesktop.ohm
ExecStart=/usr/sbin/ohmd --no-daemon
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=basic.target
